/* General Button design */

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;

  /*for .btn only  */
  border: none;
}

.btn:hover,
.btn:active {
  background-color: #fff;
  border-inline: 0.2rem solid #000;
  color: #000;
}

.container {
  padding: 6.4rem 4.8rem;
  margin: 0 auto;
  /* margin-bottom: 12rem; */
  max-width: 100%;
}

.header-container {
  display: inline-block;
  padding: 4.8rem;
  margin: 0 auto;
  max-width: 180rem;
  padding-right: 100rem;
}

.section-header-light {
  font-size: 3.2rem;
  line-height: 1.2;
}

.section-subheader-light {
  font-size: 2.4rem;
  letter-spacing: 0.3rem;
}

.section-header-dark {
  color: #fff;
  font-size: 3.2rem;
  line-height: 1.2;
}

.section-subheader-dark {
  color: #fff;
  font-size: 2.4rem;
  letter-spacing: 0.3rem;
}

/* grids */

.grid-column-1 {
  display: grid;
  grid-column: 1fr;
  justify-content: center;
  align-self: center;
}

.grid-column-2 {
  display: grid;
  grid-column: 1fr 1fr;
}

.grid-column-3 {
  display: grid;
  grid-column: 1fr 1fr 1fr;
}

.grid-column-4 {
  display: grid;
  grid-column: 1fr 1fr 1fr 1fr;
}

/* Helpers */

.image-hidden {
  position: absolute;
  top: 50%;
  right: 50%;
}
