/* 
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

Calculating rem
font-size: 10px;
10px / 16px = 0.625 = 62.5%

-- 02 Colors

Primary   #fff
secondary #000
tertiary  #4c4c4c

backgrounds
01--- 
02--- 
03--- 
04--- 
05--- 

// Font family for sub headers
font-family: 'Lobster', cursive;

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: sans-serif;
}

body {
  font-family: "Sarabun", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: #000;
}

section:nth-child(even) {
  background-color: #fff;
}

.header {
  /* For sticky Navigator Bar */
  height: 9.6rem;
  padding: 0 4.8rem;
  background-color: #fff;
}

/* NAVIGATION */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
}

.grid-nav {
  display: grid;
  grid-column: 1fr 2fr 1fr;
}

.nav-list-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 6.4rem;
}

.main-nav-list {
  font-size: 2.4rem;
  font-weight: 500;
  list-style: none;
}

.nav-icons {
  font-size: 2.4rem;
}

.logo-container {
  width: 24rem;
}

.logo-image {
  width: 100%;
}

/* Navigation Buttons */
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #000;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #4c4c4c;
}

/* Section-hero */
.section-hero {
  /* background-color: blue; */
  max-width: 180rem;
  max-height: 85rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-self: center;
  padding: 3.6rem 0;
  margin-bottom: 4.8rem;
}

.hero-image-container {
  max-width: 60rem;
  margin: 0 auto;
  grid-column: 1 / 2;
  grid-row: 1 / 1;
  display: flex;
  position: relative;
}

.hero-image {
  width: 100%;
}

/* .image-active {
  position: absolute;
  top: 20%;
  left: 100%;
} */

/* HERO PAGINATION */
.pagination {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.hero-texts {
  color: #fff;
  font-size: 4.8rem;
}

.pagination-line-container {
  display: flex;
  gap: 2.4rem;
  list-style: none;
  align-items: center;
  margin-left: 10rem;
}

.pagination-lines {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

/* For current active slide */
.active {
  background-color: #ffd700;
}

/* HERO BUTTONS */
.btn-slider {
  font-size: 4.8rem;
  /* position: absolute; */
  color: #fff;
  cursor: pointer;
}

.btn-slider-prev {
  position: absolute;
  top: 50%;
  right: 70%;
}

.btn-slider-next {
  position: absolute;
  top: 50%;
  left: 70%;
}

/* /////////////////////// */
/* Biography Section */
/* ////////////////////// */

.biography {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4.8rem;
  row-gap: 9.6rem;
  padding: 3.2rem 0;
  margin: 0 auto;
  max-width: 140rem;
}

.biography-text {
  align-self: center;
  justify-content: center;
  font-size: 3.2rem;
  padding: 3.2rem 2.4rem;
}

.biography-image-container {
  max-width: 36rem;
  background-color: #000;
  justify-self: center;
  align-self: center;
  position: relative;
}
.biography-image::before {
  content: "";
  display: block;
  width: 60%;
  background-color: #ffd700;
  border-radius: 50%;
  z-index: 1;

  position: absolute;
}
.biography-image {
  align-self: center;
  justify-content: center;
  max-width: 100%;
}

/* /////////////////////// */
/* Gallery Section */
/* ////////////////////// */

.header-container-gallery {
  display: inline-block;
  padding: 4.8rem;
  margin: 0 auto;
  max-width: 180rem;
  padding-right: 144rem;
}

.gallery-main-container {
  display: grid;
  row-gap: 9.6rem;
}

.gallery-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 6.2rem;
  margin: 0 auto;
  font-weight: 600;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  padding: 5rem;
  /* background-color: blue; */
}

.gallery-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  column-gap: 4.8rem;
  row-gap: 9.6rem;
  padding: 3.2rem 0;
  margin: 0 auto;
  max-width: 140rem;
}

.gallery-image-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 4.8rem;
  row-gap: 9.6rem;
  overflow: hidden;
}

.gallery-image {
  max-width: 100%;
  transition: all 0.3s;
}

.image-holder {
  overflow: hidden;
}
.gallery-image:hover {
  scale: 1.1;
  cursor: pointer;
}

/* Gallery Button */
.btn-gallery,
.btn-gallery:link,
.btn .btn-gallery:visited {
  display: inline-block;

  grid-column: 2;
  justify-self: center;

  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
  /* text-transform: uppercase; */

  padding: 1.8rem 3.6rem;
  border-radius: 0.8rem;
  transition: all 0.3s;
  cursor: pointer;
  border: solid #fff 0.1rem;
}

.btn-gallery:hover,
.btn-gallery:active {
  color: #000;
  background-color: #fff;
}

/* /////////////////////// */
/* Gallery Section */
/* ////////////////////// */

.section-price {
  row-gap: 4.8rem;
}

.header-container-price {
  display: inline-block;
  padding: 4.8rem;
  margin: 0 auto;
  max-width: 180rem;
}

.card-container {
  max-width: 144rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-self: center;
  column-gap: 24rem;
}
.card-holder {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 32rem;
  height: 48rem;
  box-shadow: 0 0.1rem 1rem #333;

  padding: 2.4rem;
  border-top-left-radius: 4.8rem;
  border-bottom-right-radius: 4.8rem;
  position: relative;
  overflow: hidden;
}

.ribbon {
  width: 24rem;
  max-height: 0.8rem;
  padding: 1.6rem 2.4rem;
  background-color: gold;

  font-size: 1.2rem;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 5%;
  right: -25%;

  transform: rotate(45deg);
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  row-gap: 1.2rem;
  color: #000;
}

.price {
  font-size: 2.4rem;
}

.price-pence {
  color: #333;
}

.price-symbol {
  font-size: 8rem;
}

.card-title {
  font-size: 3.2rem;
}

.description-holder {
  font-size: 1.8rem;
  list-style: none;
  line-height: 1.5;
}

.description-icon {
  font-size: 1.6rem;
  color: green;
  padding-right: 1rem;
}

/* Testimonials */

.slider {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80rem;
  height: 24rem;
  padding: 4.8rem;
  line-height: 3.2rem;

  border-radius: 2rem;
  /* box-shadow: 0 0.1rem 1rem #333; */
  position: relative;
}

.slide {
  display: flex;
  flex-direction: column;

  padding: 2.4rem 3.2rem;

  position: absolute;
}

.slide-header {
  font-size: 3rem;
  padding-bottom: 1.6rem;
}

.slide-comment {
  padding: 1.6rem 0;
  line-height: 3.2rem;
  font-size: 2rem;
}

.quotes {
  color: gold;
  font-size: 5.2rem;
}

.author {
  font-size: 1.8rem;
  text-align: end;
}

/* slider testimonial buttons */

.slider-button,
.slider-button:link,
.slier-button:visited {
  background-color: #fff;
  border: none;
  cursor: pointer;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  box-shadow: 0 0.1rem 1.2rem #333;

  position: absolute;
  transition: all 0.3s;
}

.slider-button:hover,
.slider-button:active {
  background-color: #000;
  color: #fff;
}

.slider-testimonial-icon {
  font-size: 4.8rem;
}

.button-next {
  right: 0;
  top: 50%;
  transform: translateX(100%);
  /* transform: translateY(50%); */
}

.button-prev {
  left: 0;
  top: 50%;
  transform: translateX(-100%);
}

/* /////////////////////// */
/* CTA Section */
/* ////////////////////// */

/* .cta-section {
 */

.cta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;

  max-width: 144rem;
  padding: 4.8rem;
}

.cta-header {
  line-height: 1.8;
  text-align: center;
  font-size: 5.2rem;
  color: #fff;

  padding: 4.8rem;
}

.cta-button,
.cta-button:link,
.cta-button:visited {
  text-decoration: none;
  border: none;
  padding: 3.2rem 6.4rem;
  font-size: 2.4rem;
  border-radius: 2.4rem;
  border-inline: solid 0.2rem #fff;

  background-color: #000;
  color: #fff;
  font-weight: 600;

  cursor: pointer;
  transition: all 0.3s;
}

.cta-button:hover,
.cta-button:active {
  color: #000;
  background-color: #fff;
}

.cta-social-container {
  width: 80rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
}

.cta-icons,
.cta-icons:link,
.cta-icons:visited {
  color: #000;
  padding: 1.2rem;
  font-size: 4.8rem;
  background-color: #ffffff;
  border-radius: 50%;
  transition: all 0.4s;
}

.cta-icons:hover,
.cta-icons:active {
  scale: 1.5;
  background-color: #000;
  color: gold;
}

/* /////////////////////// */
/* Footer Section*/
/* ////////////////////// */

.footer-section {
  border-top: solid 0.1rem #fff;
}

.footer-container {
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 4.8rem;
}

.copyright {
  text-align: center;
  font-size: 1.6rem;
}
